/* WalipherOS Main Stylesheet - Modularized */
@import url('base/_vars.css');
@import url('base/_typography.css');
@import url('base/_reset.css');
@import url('base/_layout.css');

@import url('components/_ui.css');
@import url('components/_login.css');
@import url('components/_header.css');
@import url('components/_dock.css');
@import url('components/_modals.css');

@import url('features/_weather.css');
@import url('features/_todos.css');
@import url('features/_notes.css');
@import url('features/_finance.css');
@import url('features/_subjects.css');
@import url('features/_pomodoro.css');
@import url('features/_notifications.css');
@import url('features/_personalization.css');
@import url('features/_links.css');